*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-body);
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-900);
}

picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

input,
button,
textarea,
select,
a {
  font: inherit;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* utilities */
:root {
  --font-body: "Plus Jakarta Sans", sans-serif;
  --clr-primary-200: #e5f1fb;
  --clr-primary-300: #99c5ef;
  --clr-primary-400: #006fd6;
  --clr-primary-500: #00162b;
  --clr-accent-200: #ecf9d0;
  --clr-accent-400: #a0e212;
  --clr-neutral-100: #ffffff;
  --clr-neutral-400: #686868;
  --clr-neutral-900: #282828;

  scroll-behavior: smooth;
}

@media screen and (max-width: 40em) {
  :root {
    font-size: 0.85rem;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.link {
  text-decoration: none;
}

.hidden {
  display: none;
}

.rotate {
  rotate: -90deg;
  margin-top: 3px !important;
}

.grid-flexible {
  --min-col-width: 350px;
  --gap: 2em;

  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--min-col-width), 100%), 1fr)
  );
}

.grab {
  cursor: grab;
}

.grab:active {
  cursor: grabbing;
}

.body-wrapper {
  max-width: 120em;
  margin-inline: auto;
}

/* scrollbar stuff */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: var(--clr-primary-200);
}

::-webkit-scrollbar-thumb {
  background: var(--clr-accent-400);
  border-radius: 100vmax;
}

::-webkit-scrollbar-button {
  display: none;
}

/* error.tsx */
.error {
  position: fixed;
  width: 100vw;
  height: 100vh;
  inset: 0;
  z-index: 9999;
  background-image: url("https://assets.codepen.io/1538474/star.svg"),
    linear-gradient(to bottom, #05007a, #4d007d);
  background-attachment: fixed;
  overflow: hidden;
}

@keyframes floating {
  from {
    transform: translateY(0px);
  }
  65% {
    transform: translateY(15px);
  }
  to {
    transform: translateY(0px);
  }
}

.error .mars {
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  height: 27vmin;
  background: url("https://assets.codepen.io/1538474/mars.svg") no-repeat bottom
    center;
  background-size: cover;
}

.error .logo-404 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 16vmin;
  width: 30vmin;
}

@media (max-width: 480px) and (min-width: 320px) {
  .error .logo-404 {
    top: 45vmin;
  }
}

.error .meteor {
  position: absolute;
  right: 2vmin;
  top: 16vmin;
}

.error .title {
  color: white;
  font-weight: 600;
  text-align: center;
  font-size: 5vmin;
  margin-block: 31vmin 1em;
}

@media (max-width: 480px) and (min-width: 320px) {
  .error .title {
    margin-top: 65vmin;
  }
}

.error .subtitle {
  color: white;
  font-weight: 400;
  text-align: center;
  font-size: 3.5vmin;
  margin-top: -1vmin;
  margin-bottom: 9vmin;
}

.error div:has(> .btn-back) {
  width: -moz-max-content;
  width: max-content;
  margin-inline: auto;
}

.error .btn-back {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  min-height: 5vmin;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
}

.error .btn-back:hover {
  background: white;
  color: #4d007d;
}

@media (max-width: 480px) and (min-width: 320px) {
  .error .btn-back {
    font-size: 3.5vmin;
  }
}

.error .astronaut {
  position: absolute;
  top: 18vmin;
  left: 10vmin;
  height: 30vmin;
  animation: floating 3s infinite ease-in-out;
}

@media (max-width: 480px) and (min-width: 320px) {
  .error .astronaut {
    top: 2vmin;
  }
}

.error .spaceship {
  position: absolute;
  bottom: 15vmin;
  right: 24vmin;
}

@media (max-width: 480px) and (min-width: 320px) {
  .error .spaceship {
    width: 45vmin;
    bottom: 18vmin;
  }
}
